includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    
    # Ignore common Laravel patterns
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\(Builder|Relations\\.*?)#'
        - '#PHPDoc tag @var for variable \$.*? contains unknown class#'
        - '#missingType\.iterableValue#'
        
    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
        - node_modules/*
    
    reportUnmatchedIgnoredErrors: false
    
    # Enable stricter rules
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true